<%- include('layout') %>

<!-- <div class="container"> -->
    
<h1>Booking Status</h1>

<div class="booking-container">
    <% bookings.forEach(booking => { %>
        <div class="booking-card">
            <p><strong>Name:</strong> <%= booking.name %></p>
            <p><strong>Date:</strong> <%= booking.date %></p>
            <p><strong>Time:</strong> <%= booking.time %></p>
            <p><strong>Guests:</strong> <%= booking.guests %></p>
            <form action="/delete/<%= booking._id %>" method="POST">
                <button type="submit" class="btn delete-btn">Cancel Booking</button>
            </form>
        </div>
    <% }) %>
</div>


<!-- </div> -->